
<% include partials/header %>
<div id="container">
	<div id="content">
		

		<div id="weather-form">		
			<form method="post" action="/">
				<input class="textbox" type="text" name="address">
				<br>
				<input class="btn-submit" type="submit" value="Get Weather">
			</form>
		</div>

		<% if(errors) { %>
			<% include partials/errors %>
		<% } %>
		
		<% if(address) { %>
			<div id="weather-stats">
				
				<div id="temp"><%= temperature %>&degF</div>
				<div id="stats">
					<div id="cond">Conditions: <%= conditions %></div>
					<div id="wind">Winds: <%= windSpeed %> mph</div>
				</div>
				<div id="weekly"><%= thisWeek %></div>
			</div>
		<% }%>
	</div>
</div>
<%include partials/footer%>
